.create-spot-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns form to top */
  height: 100vh; /* Full height of the viewport */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
  overflow: auto; /* Allows scrolling when content exceeds the screen */
  padding: 20px;
}

.create-spot-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  position: relative;
  max-height: 90vh; /* Limit form height to 90% of viewport height */
  overflow-y: auto; /* Enables vertical scrolling within the form */
}

.create-spot-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-spot-form .error-text {
  color: red;
  margin-bottom: 10px;
}

.create-spot-form label {
  display: block;
  margin-bottom: 10px;
}

.create-spot-form input,
.create-spot-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-spot-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff385c;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.create-spot-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.create-spot-form button:hover:not(:disabled) {
  background-color: #e63950;
}
